*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.scarpa{
    width: 100vw;
    height: 100vh;
    background-color: red;
    position: relative;
}

.indice{
    position: absolute;
    top: 30px;
    right: 20px;
    position: fixed;
}

.indicatore{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    margin-left: 15px;
}
a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

}

.img-scarpa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.prima-scarpa{
    color: yellow;
    font-size: 2.5rem;
}


.container-descrizione{
   text-align: center;
}

h1{
    display: inline-block;
}